*,
*::before,
*::after{
    box-sizing: border-box;
}


:root {
    --ff-primary: 'Roboto Slab', serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg: 100;
    --fw-bold: 700;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --fs-h1: 3.75rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em .25em 0.50em rgba(0,0,0,.25);
}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-p: 1.125rem;
    }
}
/*general styles*/

body{
    padding-left: .5em;
    background: var(--clr-light);
    color: var(--clr-dark);
    margin:0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
}

section{
    padding: 5em 1em;
}

img{
    padding-top: px;
    display:block;
    max-width: 100%;
}

strong {font-weight: var(--fw-bold);}

.btn{
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top:100px;
    transition: transform 200ms ease-in-out;
    
}

.btn:hover{
    transform: scale(1.1);
    
}
/* Typography*/

h1,
h2,
h3{
    line-height: 1.4;
    margin: 0;
}

h1{ font-size: var(--fs-h1);}
h2{ font-size: var(--fs-h2);}
h3{ font-size: var(--fs-h3);}

.section__title{
    margin-bottom: .1em;
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

/*header*/
header{
    justify-content: space-between;
    display: flex;
    padding: 1em;
}

.nav{
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;

    transform: translatex(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1) ;

}

.nav__list{
    list-style:none;
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-accent);
}

.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 0;
    z-index: 1000;
}


.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
  transform: rotate(.625turn)
}

.nav-open .hamburger::before{
    transform:rotate(90deg) translateX(-6px)

}

.nav-open .hamburger::after{
   opacity: 0;
}

.hamburger{
 top: 10px;
 display: block;
 position: relative;
 
}
.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 4em;
    transition: transform 1ms ease-in-out;
    
}


.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  
}

.hamburger::before{top: 6px;}
.hamburger::after{bottom: 6px;}


/*intro section*/

.section__subtitle--intro,
.section__subtitle--about{
    background:var(--clr-accent);
    padding: .25;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--intro{
    margin-left: .5em;
}

.intro{
    position: relative;
}

.tealstreak1{ 
    height: 40em;
    width: 2.6em;
    background-color: var(--clr-accent);
    margin-left: 40em;
    margin-top: 5em;
    position: absolute;
    z-index: -1;

    
}

.intro__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;

    }

    .intro__img{
        grid-area: img;
        max-width: 350px;
        z-index: 1;
    }

    .section__subtitle--intro{
        align-self: start;
        grid-column: -1 / 1 ;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -2em;
        width: calc(100% + 2em);

    }




}

/*Projects*/

.my-projects{
    width: 100%;
    background-color: var(--clr-accent);
    background-image: url("https://designshack.net/wp-content/uploads/best-subtle-black-white-background-textures.jpg");
   background-origin:padding-box;
    background-size: cover;
 
    text-align: center;
    
}

.section__title--projects{
    color: var(--clr-accent);
    
    text-align: center;
}

.section__title--projects::after{
    content: '';
    display: block;
    width: 8em;
    height: 1px;
    margin: 0.5em auto 1em;
    background:currentColor;
}

.card-body {
  
    min-height: 1px;
    padding: 0.5rem;
}

.card {

    background-color: #fff;
    ;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0rem;
}

.cardset1{
    background-color:teal;
    width: 2em;
}

.cardset2{
    background-color: teal;
}

/*about */

.about-me{
    max-width: 1000px;
    margin: 0 auto;
}



@media (min-width: 600px){
    .a0bout-me{
        display: grid;
        grid-template-columns: 1fr 200px;
      
    }

    .section__title--about{
        grid-column: 1;
    }
}

.tealstreak2{
    height: 40em;
    width: 2.6em;
    background-color: var(--clr-accent);
    margin-left: 40em;
    margin-top: -15em;
    position: absolute;
    z-index: -1;
}

.about-container{
  font-size: var(--fs-h3);
  
}

/* footer*/

.footer{
   
    color: var(--clr-accent);
    text-align: center;
    padding: 2em 0;
    background-image: url("https://designshack.net/wp-content/uploads/best-subtle-black-white-background-textures.jpg");
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.footer-link{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer a{color: inherit;}

.footer-link:hover{
    opacity: .7;
  
}

.footer-link:hover{
    text-decoration: underline;
}




    


 















